{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script>
    var get_stocks_url = "{{=URL('api', 'get_stocks', user_signature=True)}}";
    var init_stocks_url = "{{=URL('api', 'init_stocks')}}";
    var add_stock_url = "{{=URL('api', 'add_stock', user_signature=True)}}";
    var del_stock_url = "{{=URL('api', 'del_stock', user_signature=True)}}";
    var search_url = "{{=URL('api', 'search_stock')}}";
    var get_search_url = "{{=URL('api', 'get_search')}}";
</script>
{{end}}

<div class="main_content">

  <!-- Here goes your main HTML code. -->
  
  <!-- this line of code took 5 years off my life span -->
  <div id="vue-div" class="display:none">
  
     <div class="padded">
       <h2>Welcome to Stock Tracker!</h2> 
       
     <!-- tabs -->
        <div class="container">
         <div class="quarter">
           <div class="padded">
             <label class="btn fill teal" for="myStocksTab">My Stocks</label>
             <label class="btn fill teal" for="trendingTab">Trending</label>
             <label class="btn fill teal" for="searchTab">Search</label>
           </div>
         </div>
     <!-- colors dont fucking work???  -->
         
     <!-- drop down for my stocks tab  -->
         <div class="threequarters">
           <div class="accordion">
             <!-- radio here is to keep the state of the accordion
                  its id must be unique and referenced by the label -->
             <input type="radio" name="group1" id="myStocksTab">
             <div>
               {{if auth.user is not None:}}
               <div class="padded">
                 <h6>My Stocks:</h6>
                   <div v-for="stock in stocks" class="container padded">
                    <div v-if="stock.user_email == '{{=auth.user.email}}'" class="container">
                       <div class="card" style="width:500px; height:200px">
                        <div>
                          <div class="white padded rounded">
                            <h5>${stock.company_name}</h5>
                            <h6>${stock.company_symbol}</h6>
                            <div>${stock.company_description}</div>
                          </div>
                          <div class="black padded rounded">
                          <div class="half left">
                            <h5>Day Statistics:</h5>
                            <div>Open:  $ ${stock.day_open}</div>
                            <div>High:  $ ${stock.day_high}</div>
                            <div>Low:  $ ${stock.day_low}</div>
                            <div>Close:  $ ${stock.day_close}</div>
                            <div>Volume: ${stock.day_volume} Shares</div>
                          </div>
                          <div class="half left">
                            <h5>Personal Statistics:</h5>
                            <div>Open:  $ ${stock.personal_open}</div>
                            <div>High:  $ ${stock.personal_high}</div>
                            <div>Low:  $ ${stock.personal_low}</div>
                            <div>Close:  $ ${stock.personal_close}</div>
                            <div>Quantity: ${stock.quantity} Shares</div>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="padded">
                         <button v-on:click="delete_stock(stock.id)">
                               <i class="fa fa-minus"></i>  Delete
                         </button>  
                      </div>
                   </div>
                
                  </div>
               </div>
               {{else:}}
               <div class="padded">
                 <h4>Log in to see your stocks!</h4>
               </div>
               {{pass}}
             </div>
           </div>
           
     <!-- drop down for trending tab  -->
           <div class="accordion">
             <input type="radio" name="group1" id="trendingTab">
              <div>
                <div class="padded">
                  <h6>Trending:</h6>
                  <!-- put this in a loop for every displayed stock -->
                  <!-- cards for every stock -->
                    <div v-for="stock in init_stock" class="container padded">
                      <div class="card" style="width:500px; height:200px">
                        <div>
                          <div class="white padded rounded">
                            <h5>${stock.company_name}</h5>
                            <h6>${stock.company_symbol}</h6>
                            <div>${stock.company_description}</div>
                          </div>
                          <div class="black padded rounded">
                          <div class="half left">
                            <h5>Day Statistics:</h5>
                            <div>Open:  $ ${stock.day_open}</div>
                            <div>High:  $ ${stock.day_high}</div>
                            <div>Low:  $ ${stock.day_low}</div>
                            <div>Close:  $ ${stock.day_close}</div>
                            <div>Volume: ${stock.day_volume} Shares</div>
                          </div>
                        </div>
                        </div>
                      </div>
                      
                      <div v-if="logged_in" class="container padded">
                        <label class="quarter right"></label>
                        <button v-if="!managing_stocks" v-on:click="manage_button()">Manage</button>
                      </div>
                      
                     
                      <div v-if="managing_stocks" class="container padded">
                        <div v-if="logged_in" class="quarter">
                          <input type="number" class="fill">
                        </div>
                      </div>
                      
                      <div v-if="logged_in" class="button_bar padded">
            
                        <button v-if="managing_stocks" v-on:click="add_trending(stock.company_symbol)">
                            <i class="fa fa-plus"></i>  Add
                        </button>
                        
                        <button v-if="managing_stocks" v-on:click="manage_button()">
                            <i class="fa fa-minus"></i>  Subtract
                        </button>
                        
                        <button v-if="managing_stocks" v-on:click="manage_button()">
                            <i class="fa fa-times"></i>  Cancel
                        </button>
                    
                      </div>
                     
                    </div>
                  
                </div>
              </div>
           </div>
           
     <!-- drop down for search tab  -->
           <div class="accordion">
             <input type="radio" name="group1" id="searchTab">
           <div>
             <div class="padded">
               <h6>Search for Stocks:</h6>
               <div class="container padded">
                 <div class="half">
                   <input v-model="search_form" type="text" class="fill"  placeholder="company symbol here">
                 </div>
                 <button v-on:click="search_button()">
                   Search
                 </button>
               </div>
              <div v-if="searching && search_list.length == 0">
                  Invalid Symbol!
              </div>
              <div v-for="stock in search_list">
               <div v-if="searching" class="container padded">
                    <div class="card" style="width:500px; height:200px">
                      <div>
                        <div class="white padded rounded">
                            <h5>${stock.company_name}</h5>
                            <h6>${stock.company_symbol}</h6>
                            <div>${stock.company_description}</div>
                        </div>
                        <div class="black padded rounded">
                          <div class="half left">
                            <h5>Day Statistics:</h5>
                            <div>Open:  $ ${stock.day_open}</div>
                            <div>High:  $ ${stock.day_high}</div>
                            <div>Low:  $ ${stock.day_low}</div>
                            <div>Close:  $ ${stock.day_close}</div>
                            <div>Volume: ${stock.day_volume} Shares</div>
                          </div>
                        </div>
                      </div>
                    </div>
                <div v-if="logged_in" class="container padded">
                  <label class="quarter right"></label>
                  <button v-if="!managing_stocks" v-on:click="manage_button()">Manage</button>
                </div>
                
               
                <div v-if="managing_stocks" class="container padded">
                  <div v-if="logged_in" class="quarter">
                    <input v-model="quantity" type="number" class="fill" placeholder="1"> <!-- v-model="quantity_form" -->
                  </div>
                </div>
                
                <div v-if="logged_in" class="button_bar padded">
      
                  <button v-if="managing_stocks" v-on:click="add_stock()">
                      <i class="fa fa-plus"></i>  Add
                  </button>
                  
                  <button v-if="managing_stocks" v-on:click="manage_button()">
                      <i class="fa fa-minus"></i>  Subtract
                  </button>
                  
                  <button v-if="managing_stocks" v-on:click="manage_button()">
                      <i class="fa fa-times"></i>  Cancel
                  </button>
                  
                </div>
               </div>
              
              </div>
                 
             </div>
           </div>
           </div>
           
         </div>
       </div>
     </div>
  </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>